In [151]:
import pandas as pd
import numpy as np

In [152]:
def data_frame(data):
    df = pd.read_csv(data, encoding="utf-8-sig")
    return df

In [ ]:
df = data_frame("Substation/Substations.csv")
df2 = data_frame("Substation/Substations3 110.csv")
df3 = data_frame("Substation/Substations3 220.csv")
df4 = data_frame("Substation/Substations3 380.csv")
print (df4.head())

           Name  Voltage  Start point Station  Voltage startpoint  \
0      Handewitt  380/110            Handewitt                380
1      Handewitt  380/110            Handewitt                380
2      Handewitt  380/110            Handewitt                380
3     Shuby West  380/110           Shuby West                380
4  Helping Bus 3  380/110        Helping Bus 3            380/110

  End point substation  Voltage Endpoint Latitude start point  \
0             Jardelund              380             54.72782
1            Shuby West              380             54.72782
2            Audorf sud              380             54.72782
3            Audorf sud              380            54.521938
4         Helping Bus 4          380/110            54.791209

   Longitude start point Latitude end point   longitude end point
0               9.314293           54.852142             9.196651
1               9.314293           54.521938             9.435164
2               9.314293           54.288496             9.724671
3               9.435164           54.288496             9.724671
4               8.874628            54.51254             9.074286

In [154]:
# print(df.head())
# print(df2.head())
# print(df3.head())
print(df4.head())

           Name  Voltage  Start point Station  Voltage startpoint  \
0      Handewitt  380/110            Handewitt                380
1      Handewitt  380/110            Handewitt                380
2      Handewitt  380/110            Handewitt                380
3     Shuby West  380/110           Shuby West                380
4  Helping Bus 3  380/110        Helping Bus 3            380/110

  End point substation  Voltage Endpoint Latitude start point  \
0             Jardelund              380             54.72782
1            Shuby West              380             54.72782
2            Audorf sud              380             54.72782
3            Audorf sud              380            54.521938
4         Helping Bus 4          380/110            54.791209

   Longitude start point Latitude end point   longitude end point
0               9.314293           54.852142             9.196651
1               9.314293           54.521938             9.435164
2               9.314293           54.288496             9.724671
3               9.435164           54.288496             9.724671
4               8.874628            54.51254             9.074286

In [155]:
df.columns = df.columns.str.strip()
df2.columns = df2.columns.str.strip()
df3.columns = df3.columns.str.strip()
df4.columns = df4.columns.str.strip()
print(df.columns)
print(df2.columns)
print(df3.columns)
print(df4.columns)

Index(['1', 'Name', 'Voltage (KV)', 'Latitude', 'Longitude'], dtype='object')
Index(['Name', 'Voltage', 'Start point Station', 'Voltage startpoint',
       'End point substation', 'Voltage Endpoint', 'Latitude start point',
       'Longitude start point', 'Latitude end point', 'longitude end point'],
      dtype='object')
Index(['Name', 'Voltage', 'Start point Station', 'Voltage startpoint',
       'End point substation', 'Voltage Endpoint', 'Latitude start point',
       'Longitude start point', 'Latitude end point', 'longitude end point'],
      dtype='object')
Index(['Name', 'Voltage', 'Start point Station', 'Voltage startpoint',
       'End point substation', 'Voltage Endpoint', 'Latitude start point',
       'Longitude start point', 'Latitude end point', 'longitude end point'],
      dtype='object')

strip spaces

In [ ]:
df = df.applymap(lambda x: x.strip() if isinstance(x, str) else x)
df2 = df2.applymap(lambda x: x.strip() if isinstance(x, str) else x)
df3 = df3.applymap(lambda x: x.strip() if isinstance(x, str) else x)
df4 = df4.applymap(lambda x: x.strip() if isinstance(x, str) else x)
print(df4.head())

            Name  Voltage Start point Station Voltage startpoint  \
0      Handewitt  380/110           Handewitt                380
1      Handewitt  380/110           Handewitt                380
2      Handewitt  380/110           Handewitt                380
3     Shuby West  380/110          Shuby West                380
4  Helping Bus 3  380/110       Helping Bus 3            380/110

  End point substation Voltage Endpoint Latitude start point  \
0            Jardelund              380             54.72782
1           Shuby West              380             54.72782
2           Audorf sud              380             54.72782
3           Audorf sud              380            54.521938
4        Helping Bus 4          380/110            54.791209

   Longitude start point Latitude end point  longitude end point
0               9.314293          54.852142             9.196651
1               9.314293          54.521938             9.435164
2               9.314293          54.288496             9.724671
3               9.435164          54.288496             9.724671
4               8.874628           54.51254             9.074286

replace - with empty space

In [ ]:
df = df.applymap(lambda x: x.replace("-", "") if isinstance(x, str) else x)
df2 = df2.applymap(lambda x: x.replace("-", "") if isinstance(x, str) else x)
df3 = df3.applymap(lambda x: x.replace("-", "") if isinstance(x, str) else x)
df4 = df4.applymap(lambda x: x.replace("-", "") if isinstance(x, str) else x)
print(df4.head())

            Name  Voltage Start point Station Voltage startpoint  \
0      Handewitt  380/110           Handewitt                380
1      Handewitt  380/110           Handewitt                380
2      Handewitt  380/110           Handewitt                380
3     Shuby West  380/110          Shuby West                380
4  Helping Bus 3  380/110       Helping Bus 3            380/110

  End point substation Voltage Endpoint Latitude start point  \
0            Jardelund              380             54.72782
1           Shuby West              380             54.72782
2           Audorf sud              380             54.72782
3           Audorf sud              380            54.521938
4        Helping Bus 4          380/110            54.791209

   Longitude start point Latitude end point  longitude end point
0               9.314293          54.852142             9.196651
1               9.314293          54.521938             9.435164
2               9.314293          54.288496             9.724671
3               9.435164          54.288496             9.724671
4               8.874628           54.51254             9.074286

remove encoding artifacts if any

In [158]:
df= df.applymap(lambda x: x.replace("Â"," ").replace("Â¼"," ").replace("Ã"," ").strip() if isinstance(x, str) else x)
# print(df)
df2= df2.applymap(lambda x: x.replace("Â"," ").replace("Â¼"," ").replace("Ã"," ").strip() if isinstance(x, str) else x)
# print(df2) 
df3= df3.applymap(lambda x: x.replace("Â"," ").replace("Â¼"," ").replace("Ã"," ").strip() if isinstance(x, str) else x)
# print(df3)
df4= df4.applymap(lambda x: x.replace("Â"," ").replace("Â¼"," ").replace("Ã"," ").strip() if isinstance(x, str) else x)
print(df4.head())

            Name  Voltage Start point Station Voltage startpoint  \
0      Handewitt  380/110           Handewitt                380
1      Handewitt  380/110           Handewitt                380
2      Handewitt  380/110           Handewitt                380
3     Shuby West  380/110          Shuby West                380
4  Helping Bus 3  380/110       Helping Bus 3            380/110

  End point substation Voltage Endpoint Latitude start point  \
0            Jardelund              380             54.72782
1           Shuby West              380             54.72782
2           Audorf sud              380             54.72782
3           Audorf sud              380            54.521938
4        Helping Bus 4          380/110            54.791209

   Longitude start point Latitude end point  longitude end point
0               9.314293          54.852142             9.196651
1               9.314293          54.521938             9.435164
2               9.314293          54.288496             9.724671
3               9.435164          54.288496             9.724671
4               8.874628           54.51254             9.074286

Change the names of the Headings

In [159]:
df = df.rename(columns={'Voltage (KV)': 'Voltage'})
df2 = df2.rename(columns={'Voltage startpoint': 'Volstat','Voltage Endpoint': 'Volend', "Latitude start point":"Latstat","Longitude start point":"Longstat",
                          "Latitude end point":"Latend", "longitude end point":"Longend",'Voltage (KV)': 'Voltage'})
df3 = df3.rename(columns={'Voltage startpoint': 'Volstat','Voltage Endpoint': 'Volend', "Latitude start point":"Latstat","Longitude start point":"Longstat",
                          "Latitude end point":"Latend", "longitude end point":"Longend",'Voltage (KV)': 'Voltage'})
df4 = df4.rename(columns={'Voltage startpoint': 'Volstat','Voltage Endpoint': 'Volend', "Latitude start point":"Latstat","Longitude start point":"Longstat",
                          "Latitude end point":"Latend", "longitude end point":"Longend",'Voltage (KV)': 'Voltage'})

In [160]:
print(df.columns)
print(df2.columns)
print(df3.columns)
print(df4.columns)

Index(['1', 'Name', 'Voltage', 'Latitude', 'Longitude'], dtype='object')
Index(['Name', 'Voltage', 'Start point Station', 'Volstat',
       'End point substation', 'Volend', 'Latstat', 'Longstat', 'Latend',
       'Longend'],
      dtype='object')
Index(['Name', 'Voltage', 'Start point Station', 'Volstat',
       'End point substation', 'Volend', 'Latstat', 'Longstat', 'Latend',
       'Longend'],
      dtype='object')
Index(['Name', 'Voltage', 'Start point Station', 'Volstat',
       'End point substation', 'Volend', 'Latstat', 'Longstat', 'Latend',
       'Longend'],
      dtype='object')

remove duplicate

In [ ]:
df = df.drop_duplicates()
df.reset_index(drop=True, inplace=True)
df2 = df2.drop_duplicates()
df2.reset_index(drop=True, inplace=True)
df3 = df3.drop_duplicates()
df3.reset_index(drop=True, inplace=True)
df4 = df4.drop_duplicates()
df4.reset_index(drop=True, inplace=True)
print(df4.head())

            Name  Voltage Start point Station  Volstat End point substation  \
0      Handewitt  380/110           Handewitt      380            Jardelund
1      Handewitt  380/110           Handewitt      380           Shuby West
2      Handewitt  380/110           Handewitt      380           Audorf sud
3     Shuby West  380/110          Shuby West      380           Audorf sud
4  Helping Bus 3  380/110       Helping Bus 3  380/110        Helping Bus 4

    Volend    Latstat  Longstat     Latend   Longend
0      380   54.72782  9.314293  54.852142  9.196651
1      380   54.72782  9.314293  54.521938  9.435164
2      380   54.72782  9.314293  54.288496  9.724671
3      380  54.521938  9.435164  54.288496  9.724671
4  380/110  54.791209  8.874628   54.51254  9.074286

In [ ]:
print(df4['Latstat'].dtype)  # Check the type of the column
print(df4['Latend'])

object
0      54.852142
1      54.521938
2      54.288496
3      54.288496
4       54.51254
5      54.510525
6     54.341165,
7      53.897482
8      54.288496
9       53.92329
10     53.878344
11     53.851773
12     53.864481
13     53.847975
14      53.69035
15     53.898167
16     53.916186
17     53.896182
18     53.908631
19      53.97247
20      54.16172
21     53.897908
22     54.510525
23     54.795001
Name: Latend, dtype: object

Convert data types to intergers

In [ ]:
df4['Latstat'] = pd.to_numeric(df4['Latstat'], errors='coerce')
df4['Latend'] = pd.to_numeric(df4['Latend'], errors='coerce')
df4['Longstat']=  pd.to_numeric(df4['Longstat'], errors='coerce')
df4['Longend']=  pd.to_numeric(df4['Longend'], errors='coerce')

df3['Latstat'] = pd.to_numeric(df3['Latstat'], errors='coerce')
df3['Latend'] = pd.to_numeric(df3['Latend'], errors='coerce')
df3['Longstat']=  pd.to_numeric(df3['Longstat'], errors='coerce')
df3['Longend']=  pd.to_numeric(df3['Longend'], errors='coerce')

df2['Latstat'] = pd.to_numeric(df2['Latstat'], errors='coerce')
df2['Latend'] = pd.to_numeric(df2['Latend'], errors='coerce')
df2['Longstat']=  pd.to_numeric(df2['Longstat'], errors='coerce')
df2['Longend']=  pd.to_numeric(df2['Longend'], errors='coerce')

df['Longitude'] = pd.to_numeric(df['Longitude'], errors='coerce')
df['Latitude'] = pd.to_numeric(df['Latitude'], errors='coerce')

print(df4.head())

            Name  Voltage Start point Station  Volstat End point substation  \
0      Handewitt  380/110           Handewitt      380            Jardelund
1      Handewitt  380/110           Handewitt      380           Shuby West
2      Handewitt  380/110           Handewitt      380           Audorf sud
3     Shuby West  380/110          Shuby West      380           Audorf sud
4  Helping Bus 3  380/110       Helping Bus 3  380/110        Helping Bus 4

    Volend    Latstat  Longstat     Latend   Longend
0      380   54.72782  9.314293  54.852142  9.196651
1      380   54.72782  9.314293  54.521938  9.435164
2      380   54.72782  9.314293  54.288496  9.724671
3      380  54.521938  9.435164  54.288496  9.724671
4  380/110  54.791209  8.874628   54.51254  9.074286

In [ ]:

print(df4.head())

            Name  Voltage Start point Station  Volstat End point substation  \
0      Handewitt  380/110           Handewitt      380            Jardelund
1      Handewitt  380/110           Handewitt      380           Shuby West
2      Handewitt  380/110           Handewitt      380           Audorf sud
3     Shuby West  380/110          Shuby West      380           Audorf sud
4  Helping Bus 3  380/110       Helping Bus 3  380/110        Helping Bus 4

    Volend    Latstat  Longstat     Latend   Longend
0      380   54.72782  9.314293  54.852142  9.196651
1      380   54.72782  9.314293  54.521938  9.435164
2      380   54.72782  9.314293  54.288496  9.724671
3      380  54.521938  9.435164  54.288496  9.724671
4  380/110  54.791209  8.874628   54.51254  9.074286

In [165]:
df.loc[df['Longitude'].isna(), 'Longitude'] = 0
df.loc[df['Latitude'].isna(),'Latitude'] = 0
print(df)

       1            Name      Voltage   Latitude  Longitude
0      2         Wilster          380  53.923290   9.345835
1      3      Audorf Sud  380/220/110  54.288496   9.724671
2      4          Buttel  380/220/150  53.916186   9.235200
3      5        Kiel Sud      220/110  54.275918  10.155970
4      6       Barkelsby          110  54.498010   9.832892
..   ...             ...          ...        ...        ...
227  229  Helping Bus 55          110  53.687592   9.932719
228  230     Norderstedt          110  53.687476   9.972080
229  231    Hamburg Nord          110  53.766994   9.988281
230  232  Helping Bus 56          110  53.780753  10.025360
231  233      Harksheide          110  53.711260  10.018802

[232 rows x 5 columns]

In [166]:
df=df.dropna(subset=["Longitude"])
df=df.dropna(subset=["Latitude"])

df = df
print(df)

       1            Name      Voltage   Latitude  Longitude
0      2         Wilster          380  53.923290   9.345835
1      3      Audorf Sud  380/220/110  54.288496   9.724671
2      4          Buttel  380/220/150  53.916186   9.235200
3      5        Kiel Sud      220/110  54.275918  10.155970
4      6       Barkelsby          110  54.498010   9.832892
..   ...             ...          ...        ...        ...
227  229  Helping Bus 55          110  53.687592   9.932719
228  230     Norderstedt          110  53.687476   9.972080
229  231    Hamburg Nord          110  53.766994   9.988281
230  232  Helping Bus 56          110  53.780753  10.025360
231  233      Harksheide          110  53.711260  10.018802

[232 rows x 5 columns]

In [167]:
file_name = "/Substations2.csv"
df.to_csv(file_name, index=False)
file_name2 = "Substations4.csv"
df2.to_csv(file_name2, index=False)
file_name3 = "Substations6.csv"
df3.to_csv(file_name3, index=False)
file_name4 = "Substations8.csv"
df4.to_csv(file_name4, index=False)
print(f"Data_frame is written successfully to {file_name}")
print(f"Data_frame is written successfully to {file_name2}")
print(f"Data_frame is written successfully to {file_name3}")
print(f"Data_frame is written successfully to {file_name4}")

Data_frame is written successfully to Substations2.csv
Data_frame is written successfully to Substations4.csv
Data_frame is written successfully to Substations6.csv
Data_frame is written successfully to Substations8.csv